<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="Board">
 	<insert id="write" parameterType="board">
 		insert into board_table(b_writer, b_title, b_contents, b_fileName, b_date)
 			values(#{b_writer}, #{b_title},#{b_contents},#{b_fileName} , now())
 	</insert>
 	
 	<select id="pagingList" parameterType="java.util.HashMap" resultType="board">
		select * from board_table order by b_number desc limit #{start}, #{limit}
	</select>
	
	<select id="count" resultType="int">
		select count(b_number) from board_table
	</select>
	
	<select id="detail" parameterType="Long" resultType="board">
		select * from board_table where b_number=#{b_number}
	</select>

	<update id="update" parameterType="board">
		update board_table set b_title=#{b_title}, b_contents=#{b_contents} where b_number=#{b_number}
	</update>
	
	<delete id="delete" parameterType="Long">
		delete from board_table where b_number=#{b_number}
	</delete>
	
	<!-- search -->
		
	<select id="search" parameterType="java.util.HashMap" resultType="board">
		select * from board_table 			
		<include refid="searchkey"></include>
	</select>
	
	<sql id="searchkey">
		<choose>
			<when test="type=='b_title'">
				where b_title like concat('%', #{word}, '%') 
			</when>
			<when test="type=='b_writer'">
				where b_writer like concat('%', #{word}, '%') 
			</when>
		</choose>
	</sql>
	
	 
 </mapper>